extends layout

block content
	include toolbar.html
	link(href="/stylesheets/browse.css", rel="stylesheet")

	.col-xs-12
		ul.list-inline
			each val in result
				li
					a(href="/item?name="+val.itemname+"&imagename="+val.imagename+"&description="+val.description+"&stock="+val.stock+"&id="+val.id id=val.id)
						- var image = val.imagename;
						- var name = val.itemname;
						- var description = val.description;
						- var stock = val.stock;
						img(src='images/' + image + '.jpg', alt="failed", class="img-thumbnail")
						h4 #{name}
		.col-xs-3		