extends layout

block content
	include toolbar.html
	link(href="/stylesheets/help.css", rel="stylesheet")
	h1 #{title}
	h3 This page is here to help guide complete beginners through the use of the Trader website.
	hr
	h2 Home
	h4 This is simply the homepage for Trader.
	hr
	h2 Sign Up
	h4 Use this page to register with Trader using your email. Yes we will send you spam!
	h2 Sign In
	h4 Once you have signed up you can sign in to put items up for sale.
	hr
	h2 Browse
	h4 View every item listed in our database!
	h2 Search
	h4 Search for listed items by their name. Your search doesn't need to be exact.
	h2 Sell
	h4 Add an item you want to sell to our database for our other users to view. Remember you must be signed in first.
	hr