extends layout

block content
	include toolbar.html
	script.
		getCookie = function(cname) {
			var name = cname + "=";
			var ca = document.cookie.split(';');
			for(var i = 0; i <ca.length; i++) {
				var c = ca[i];
				while (c.charAt(0)==' ') {
					c = c.substring(1);
				}
				if (c.indexOf(name) == 0) {
					return c.substring(name.length,c.length);
				}
			}
			return "";
		}

		var currentUser = getCookie("username");
		if(currentUser != ""){
			//If there is already a user then the user has nvaigated to the sign in page manually and hasn't signe dout of the previous user. In any case do nohting until the sign out button is rpessed.
		}else{
			var e = (!{JSON.stringify(email)});
			var id = (!{JSON.stringify(ID)});
			//console.log(email);
			//If email hasn't been passed a syntax error is thrown. This is ironically good for us as it won't run the 	code below.
			document.cookie = "username=" + e;
			document.cookie = "ID=" + id;
			console.log(getCookie("ID") + " <-- this should be id");
			console.log(getCookie("username") + " <-- This should be username");
			console.log(document.cookie + "<---- Cookies");
		}