//
   Created by Chris Tofts on 18/05/2016.

include index.html


head
    link(href='/stylesheets/item.css', rel='stylesheet')

body
    .container
        .row
            .col-md-12
                img(src='http://vignette3.wikia.nocookie.net/spore/images/6/6c/Question-mark.png/revision/latest?cb=20110427230528', alt='Mountain View', style='width:304px;height:228px;', class='images')

            .col-md-6
                p This is the item

            .col-md-6
                p This is second item
