extends layout

block content
	include toolbar.html
	link(href="/stylesheets/sell.css", rel="stylesheet")

	script(type="text/javascript").
		function validateForm() {
			success = true;
			formVals = document.forms["form"];

			if (formVals["name"].value.length < 1) {
				document.getElementById("nameErr").classList.remove("hidden");
				success = false;
			} else {
				document.getElementById("nameErr").classList.add("hidden");
			}

			if (formVals["description"].value.length < 1) {
				document.getElementById("descriptionErr").classList.remove("hidden");
				success = false;
			} else {
				document.getElementById("descriptionErr").classList.add("hidden");
			}

			if (formVals["image"].value.length < 1) {
				document.getElementById("imageErr").classList.remove("hidden");
				success = false;
			} else {
				document.getElementById("imageErr").classList.add("hidden");
			}

			return success;
		}

	.col-xs-3
	.col-xs-6
		form(action="/productSubmit", method="post", ID="form", enctype="multipart/form-data", onsubmit="return validateForm()")
			.form-group
				script.
					getCookie = function(cname) {
						var name = cname + "=";
						var ca = document.cookie.split(';');
						for(var i = 0; i <ca.length; i++) {
							var c = ca[i];
							while (c.charAt(0)==' ') {
								c = c.substring(1);
							}
							if (c.indexOf(name) == 0) {
								return c.substring(name.length,c.length);
							}
						}
						return "";
					}

					var userID = getCookie("ID");

					if (userID == "") {
						window.location = "/signin";
					}

					var form = document.getElementById("form");
					var hiddenInput = document.createElement("input");
					hiddenInput.type = "hidden";
					hiddenInput.name = "userid";
					hiddenInput.value = userID;

					form.appendChild(hiddenInput);

			.form-group
				label(for='name') Product Name
				input#name.form-control(type='text', placeholder='Name', name="name")
			#nameErr.alert.alert-danger.hidden
				|Please enter a name for your product

			.form-group
				label(for='description') Product Description
				textarea#description.form-control(rows='10', placeholder='Description', name="description")
			#descriptionErr.alert.alert-danger.hidden
				|Please enter a description for your product

			.form-group
				label(for='price') Product Price
				input#price.form-control(type='number', min='1', value='10', name="price")
			.form-group
				label(for='quantity') Product Quantity
				input#quantity.form-control(type='number', min='1', value='1', name="quantity")
			.form-group
				label(for='category') Product Category
				select#category.form-control(name="category")
					each val in categories
						option(value=val) #{val}
			.form-group
				label(for='image') Product Image
				input#image.form-control(type='file', accept='image/*', name="image")
			#imageErr.alert.alert-danger.hidden
				|Please upload an image of your product
				
			button.btn.btn-default(type="submit", name="submitBtn") Submit Product
		.col-xs-3
