extends layout

block content
	include toolbar.html

	.col-xs-3
	.col-xs-6
		form(action="/signupSubmit", method="post")
			.form-group
				label(for='email') Email address
				input#email.form-control(type='email', placeholder='Email' name="email")
			.form-group
				label(for='pass') Password
				input#pass.form-control(type='Password', placeholder='password' name="pass")
			.form-group
				label(for='fname') First Name
				input#fname.form-control(type='text', placeholder='John' name="fname")
			.form-group
				label(for='lname') Last Name
				input#lname.form-control(type='text', placeholder='Snow' name="lname")
			.form-group
				label(for='phone') Phone Number
				input#phone.form-control(type='number', placeholder='020 000 0000' name="phone" maxlength="10")
			.form-group
				label(for='addr') Address
				input#addr.form-control(type='text', placeholder='Castle Black, The Wall, Westeros' name="addr")
			button.btn.btn-default(type="submit", name="submitBtn") Submit
		.col-xs-3
				
