extends layout

block content
	include toolbar.html
	link(href="/stylesheets/form.css", rel="stylesheet")

	.col-xs-3
	.col-xs-6
		-if (true) {
			h1 #{title}
		-}
		-if (typeof(err) !== 'undefined'){
			.alert.alert-warning
				strong Error! 
				| #{err}
		-}
		//- checks for the email and ID vars and if they exist sets them to email and ID, this is only done once log in is successfull
		-if (typeof(email) !== 'undefined' && typeof(ID) !== 'undefined') {
			script var email = !{JSON.stringify(email)}
			script var ID = !{JSON.stringify(ID)}									
		-}
		
	
		form(action="/signInSubmit", method="post")
			.form-group
				label(for='email') Email address
				input#email.form-control(type='email', placeholder='Email' name="email")
			.form-group
				label(for='pass') Password
				input#pass.form-control(type='Password', placeholder='Password' name="pass")
			button.btn.btn-default(type="submit", name="submitBtn") Submit
		.col-xs-3
				
