<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Trader</title>
  <script src="bower_components/webcomponentsjs/webcomponents.js"></script> 
  <link rel="import" href="bower_components/paper-toolbar/paper-toolbar.html">
  <link rel="import" href="bower_components/paper-icon-button/paper-icon-button.html">
  <link rel="import" href="bower_components/iron-collapse/iron-collapse.html">
  <link rel="import" href="bower_components/paper-button/paper-button.html">
  <link rel="import" href="bower_components/iron-icons/iron-icons.html">
  <link rel="import" href="bower_components/paper-input/paper-input.html">
  <link rel="import" href="bower_components/paper-material/paper-material.html">
  <link rel="import" href="bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
  <link rel="import" href="bower_components/paper-item/paper-item.html">
  <link rel="import" href="bower_components/paper-listbox/paper-listbox.html">
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <script src='https://code.jquery.com/jquery-2.2.3.min.js', integrity='sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=', crossorigin='anonymous'></script>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous'>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous'></script>


  <!-- To style any of Polymer's custom properties it must be done 
  here as most browsers still have issues with custom proprties. -->
  <style is="custom-style">
    #search{
      --paper-input-container-focus-color: #333;
      max-width: 100%;
      min-width: 100%;
      float: right;
    }
  </style>
</head>
<body>
  <!-- <template is="dom-bind" id="app"> -->
  <paper-toolbar id="toolbar">
    <img src="./images/trader_logo.png" alt="Trader" id="logo">
    <div id="title" class="title">Trader</div>
    <paper-dropdown-menu label="Menu" id="menu">
      <paper-listbox class="dropdown-content">
        <paper-item>Home</paper-item>
        <paper-item>Browse</paper-item>
        <paper-item>Sell</paper-item>
        <paper-item>Help</paper-item>
      </paper-listbox>
    </paper-dropdown-menu>
    <paper-icon-button raised noink id="searchButton" icon="icons:search" title="Search" on-tap="search" onclick="search"></paper-icon-button>
    <div id="searchDiv"><paper-input type="search" id="search" label="Search here..."></paper-input></div>
    <div class="btn-group btn-group-vertical" id="buttons">
      <button id="sign-in-button" class="btn btn-xs">Sign In</button>
      <button id="sign-up-button" class="btn btn-xs">Sign Up</button>
      <button id="sign-out-button" class="btn btn-xs invisible">Sign Out</button>
    </div>
    <!--     <paper-button raised noink id="sign-in-button">Sign In</paper-button> -->
  </paper-toolbar>
  <paper-material id="main">
    <h2 id="welcome" class="invisible"></h2>
    <hr id="divider" class="invisible">
    <iron-collapse id="collapse"></iron-collapse>    
  </paper-material>
</paper-material id="content">
<div id="searchResultsContainer" class="invisible">
  <h2>You searched for <span id="searchedFor"></span>. Here's what we found!</h2>
</div>
<div id="noSearch" class="invisible">
  <div id="emptySearchMessage" class="invisible">
    <h2>You didn't search for anything!</h2>
  </div>
</div>
<!-- </template> -->
<!-- Run the JS -->
<script type="text/javascript">
  window.onload = function () {
    var noSearch = true; 
    var searchField = document.getElementById("search");
    var searchedFor = document.getElementById('searchedFor');
    var searchResultsContainer = document.getElementById('searchResultsContainer');
    var noSearch = document.getElementById('emptySearchMessage');

    var collapseToggled = false;
    var collapse = document.getElementById('collapse');

    var animationDelay = 500;

    var searchBtn = document.getElementById('searchButton');
    var signInBtn = document.getElementById('sign-in-button');
    var signUpBtn = document.getElementById('sign-up-button');
    var signOutBtn = document.getElementById('sign-out-button');
    var welcomeText = document.getElementById('welcome');
    var divider = document.getElementById('divider');

    var menu = document.getElementById('menu');


    toggle = function(){
      collapseToggled = !collapseToggled;
      collapse.toggle();
    }

    ensureCollapsed = function(){
      if(collapseToggled){toggle();}
    }

    ensureOpened = function(){
     if(!collapseToggled){toggle();} 
   }

   query = function(text){
      window.location = "/search?term=" + text;
    }

    signOut = function(){
      document.cookie = "username=";
      document.cookie = "ID=";
      window.location = "/";
    }

    signIn = function(){
      window.location = "/signin";
    }

    signUp = function(){
      window.location = "/signup";
    }

    getCookie = function(cname) {
      var name = cname + "=";
      var ca = document.cookie.split(';');
      for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length,c.length);
        }
      }
      return "";
    }

    checkSignedIn = function(){
      var username = getCookie("username");
      if (username != "") {
        signInBtn.className = "invisible";
        signUpBtn.className = "invisible";
        signOutBtn.className = "btn btn-xs";
        welcomeText.innerHTML = "Welcome back " + username + "!";
        welcomeText.className = "";
      }else{
        signInBtn.className = "btn btn-xs";
        signUpBtn.className = "btn btn-xs";
        signOutBtn = "invisible";
        welcomeText.className = "invisible";
      }
    }

    menuUsed = function(){
      switch(menu.selectedItemLabel){
        case "Home":
        window.location = "/";
        break;
        case "Browse":
        window.location = "/browse";
        break;
        case "Sell":
        window.location = "/sell";
        break;
        case "Help":
        window.location = "/help";
        break;
        default:
        console.log("Should never get here. (menu)");
      }
      console.log(menu.selectedItemLabel);
    }

    search = function(){
      var currentSearch = searchField.value;
      ensureCollapsed();
      if(currentSearch == ''){
        setTimeout(function(){ 
          collapse.innerHTML = noSearch.innerHTML;
          divider.className = '';
          ensureOpened();
        }, animationDelay);
      }else{
        query(currentSearch);
/*        searchedFor.innerHTML = currentSearch;        
        setTimeout(function(){ 
          displayResults(results);
          collapse.innerHTML = searchResultsContainer.innerHTML;
          ensureOpened();
        }, animationDelay);*/
      }
    }

    searchBtn.addEventListener("click", search);
    signUpBtn.addEventListener("click", signUp);
    signInBtn.addEventListener("click", signIn);
    signOutBtn.addEventListener("click", signOut);
    searchField.addEventListener('keypress', function (e){
      var key = e.which || e.keyCode;
    if (key === 13) { // 13 is enter
      search();
    }
    });
    menu.addEventListener("iron-select", menuUsed);
    checkSignedIn();
  }

</script>
<!-- <script src="toolbar.js"></script> -->
</body>
</html>