 body {
	background-color: #E6E6E6;
 }

 .img-thumbnail {
    width: 250px;
    height: 100%;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
 }

ul {
	display: block; text-align:center;
}

ul li {
	display: inline-block;
}

li.categories {
	width: 250px;
}

li {
	background-color: lightgray;
	border-radius: 10px;
	padding: 5px;
	margin: 20px;
	text-align: center;
	box-shadow: 10px 10px 5px #888888;
}

h4 {
	font-family: "Helvetica"
}

li:active {
	box-shadow: 8px 8px 5px #888888;
}
