
p {
    color: blue;
    display: block;
    margin-left: auto;
    margin-right: auto
}

div {
    display: block;
    margin-left: auto;
    margin-right: auto
}
 .images{
     display: block;
     margin-left: auto;
     margin-right: auto

 }